body {
  margin: 0 !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fafafa;
  line-height: 1.6;
}

h1,
h2 {
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: inherit;
}

header .brand {
  font-size: 1.8rem;
  font-weight: 600;
}

header .nav-link {
  font-size: 1.3rem;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 0.7px;
  padding: 8px 25px;
  border-radius: 5px;
}

.btn:focus,
.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.card {
  background-color: #fff;
  border: none;
  -webkit-box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
          box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
}

.home-screen {
  min-height: 100vh;
}

.home-screen .home-row {
  height: calc(100vh - 4.5rem - 4rem);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-screen .home-row .homeScreen-title {
  font-size: 4rem;
  font-weight: 500;
}

.home-screen .home-row .homeScreen-btn {
  width: 150px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 550;
}

.home-screen .home-row .btn-row .btn {
  border-radius: 25px;
}

.about-screen {
  min-height: 100vh;
}

.about-screen .about-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-screen {
  min-height: calc(100vh - 8.5rem);
}

.auth-screen .auth-row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 8.5rem);
}

.editor-screen .split-screen-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.editor-screen {
  min-height: calc(90vh - 3%);
}

.editor-screen .editor-row {
  height: calc(90vh - 3%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.editor-screen .editor-row .sidenav-column {
  width: 3%;
}

.editor-screen .editor-row .sidenav-column .editor-sidenav-container {
  background-color: #1b1b1b;
  height: 100%;
}

.editor-screen .editor-row .sidenav-column .editor-sidenav-container .list-group-item {
  background-color: #1b1b1b;
  color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 10px;
  border: none;
}

.editor-screen .editor-row .sidenav-column .editor-sidenav-container .list-group-item .fa-file,
.editor-screen .editor-row .sidenav-column .editor-sidenav-container .list-group-item .fa-search,
.editor-screen .editor-row .sidenav-column .editor-sidenav-container .list-group-item .fa-cog {
  font-size: 26px;
}

.editor-screen .editor-row .sidenav-column .editor-sidenav-container .list-group-item:hover {
  color: #fff;
}

.editor-screen .editor-row .split-screen-column {
  width: calc(100vw - 3%);
}

.editor-screen .editor-row .split-screen-column .detail-column {
  background-color: #212121;
}

.editor-screen .editor-row .split-screen-column .gutter {
  background-color: #eee;
}

.editor-screen .editor-topnav {
  height: 4vh;
  background-color: black;
  color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.editor-screen .editor-topnav .editor-id {
  vertical-align: middle;
  letter-spacing: 1px;
  display: inline-block;
  cursor: pointer;
}

.editor-screen .editor-topnav .editor-id:hover {
  color: #fff;
}

footer {
  height: 3rem;
}

@media (max-width: 600px) {
  .home-screen .home-row {
    height: 100%;
  }
  .home-screen .home-row .homeScreen-title {
    font-size: 2.8rem;
    text-align: center !important;
  }
  .btn-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 800px) {
  .editor-screen .editor-row .sidenav-column {
    width: 10%;
  }
  .editor-screen .editor-row .sidenav-column .editor-sidenav-container .list-group-item {
    padding: 15px 10px;
  }
  .editor-screen .editor-row .sidenav-column .editor-sidenav-container .list-group-item .fa-file,
  .editor-screen .editor-row .sidenav-column .editor-sidenav-container .list-group-item .fa-search,
  .editor-screen .editor-row .sidenav-column .editor-sidenav-container .list-group-item .fa-cog {
    font-size: 20px;
  }
}

@media (max-width: 1400px) {
  .editor-screen .editor-row .sidenav-column {
    width: 7%;
  }
}
/*# sourceMappingURL=index.css.map */